.sidebar {
  padding: 2rem;
  position: fixed;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
}

.logo {
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-logo);
  line-height: var(--line-height-logo);
  letter-spacing: 0.07em;
  margin-bottom: 2rem;
}

.logo a {
  color: var(--color-black);
}

.nav {
  margin-bottom: 2rem;
}

.nav a {
  display: block;
  margin-bottom: 1rem;
  color: var(--color-text-nav);
  font-size: var(--font-size-nav);
}

.nav a.active {
  color: var(--color-accent);
}

.social {
  margin-top: auto;
}

.social a {
  display: flex;
  align-items: center;
  color: var(--color-text-social);
  margin-bottom: 1rem;
  font-size: var(--font-size-nav);
}

@media only screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: var(--sidebar-width-tablet);
  }
}
